@import './fonts.scss';

body {
  margin: 0;
  background-color: #FFFFFF;
  color: rgba(34,34,34,0.9);
  font-family: 'roboto-light';
  font-size: 14px;
  line-height: 16px;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.wrapper {
  min-width: 1080px;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea:focus, input:focus{
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #FFFFFF;

  &:focus {
    outline:0;
  }
}

h1, h2, h3, h4, h5, h6,  {
  margin: 0;
}

input {
  color: rgba(34,34,34,0.9);
}