.our_board {
  h1 {
    padding: 32px 0 32px 88px;
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
  }
}

.our_board_wrap {
  min-height: 693px;
  background-image: url('./assets/bg_board.png');
  background-repeat: no-repeat;
  background-position: 124px center;
  display: flex;
  flex-direction: row-reverse;
}

.our_board_content {
  max-width: 528px;
  padding: 32px 88px 32px 0;

  @media screen and (max-width: 1260px) {
    max-width: 460px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
  }

  p {
    font-size: 18px;
    line-height: 35px;
  }
}