.pricing {
  padding: 0 88px 88px;

  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
  }
}

.pricing_wrap {
  margin-top: 40px;
}

.pricing_item_grey {
  padding: 16px;
  background-color: rgba(216, 216, 216, 0.5);
  width: 100%;
}

.pricing_footer {
  padding: 0;
  
  button {
    width: 100%;
    padding: 32px 0;
    background-color: #42BCEE;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
  }
}


.pricing_row {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
}

.cols {
  margin-right: 16px;
  width: 100%;
  padding: 12px 16px;
  text-align: center;
  white-space: pre-wrap;
  font-size: 20px;
  line-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing_column {
  @extend .cols;

  box-shadow: 6px 0 6px -6px rgba(0,0,0,0.09);
}

.row_grey > .pricing_column {
  background-color: rgba(216, 216, 216, 0.5);
}

.column_header {
  @extend .cols;

  background-color: #42BCEE;
  color: #FFFFFF;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  box-shadow: 6px 0 6px -6px rgba(0,0,0,0.09);

  h3 {
    font-size: 24px;
  }

  div {
    padding-top: 4px;
    font-size: 16px;
    font-family: 'roboto';
  } 
}

.header_empty, .footer_empty {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0 !important;
}

.column_footer {
  @extend .cols;

  border-radius: 0 0 16px 16px;
  overflow: hidden;
  box-shadow: 6px 0 6px -6px rgba(0,0,0,0.09);
  padding: 0;
  
  button {
    width: 100%;
    padding: 32px 0;
    background-color: #42BCEE;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
  }
}