.contact_us {
  min-height: 899px;
  background-image: url('./assets/bg_contact_us.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.contact_us_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 88px;
}

.contact_info {
  max-width: 580px;

  h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
  }
}

.contact_p {
  padding: 40px 0 0 40px;

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }
}

.contact_form {
  width: 412px;
  padding: 16px;
  border: 1px solid #42BCEE;
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);

  h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
  }
}

.form_section {
  padding-top: 8px;
  label {
    display: block;
    padding: 8px 0;
    color: rgba(34,34,34,0.6);
    font-weight: 800;
  }
  input, textarea {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #42BCEE;
    color: rgba(34,34,34,0.6);
    border-radius: 16px;
    display: block;
    font-size: 16px;

    &::placeholder {
      color: rgba(34,34,34,0.3);
      font-size: 14px;
    }
  }
  button {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: #42BCEE;
    color: #FFFFFF;
    font-size: 20px;
  }
}

.footer_text {
  position: absolute;
  bottom: 40px;
  left: 88px;
  color: rgba(34,34,34,0.6);
  font-size: 18px;
}