.our_service {
  min-height: 598px;
  margin-bottom: 40px;
  background-image: url('./assets/bg_our_service.png');
  background-repeat: no-repeat;
  background-position: left top;
}

.service_content_wrap {
  display: flex;
  flex-direction: row-reverse;
}

.service_content {
  max-width: 560px;
  margin-top: 32px;
  
  @media screen and (max-width: 1200px) {
    max-width: 386px;
  }

  z-index: 10;
  padding: 40px 88px 40px 56px;
  border-radius: 16px 0 0 16px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
  font-size: 24px;

  @media screen and (max-width: 1200px) {
    padding: 40px 50px 40px 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 40px;
    white-space: pre-line;
    padding: 8px 0;
    font-weight: 500;
  }
  ul {
    list-style: disc;
    padding-left: 40px;
    li {
      line-height: 40px;
      // font-weight: 600;
    }
  }
}

.service_search {
  z-index: 5;
  margin: -16px 32px 0 95px;
  padding: 32px 0;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.16);
  overflow: hidden;

  h4 {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
  }
}

.form_control {
  padding: 0 32px;
  input {
    width: 360px;
    padding: 12px;
    border: 1px solid #E9EFF4;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
  }

  button {
    margin-left: 12px;
    padding: 12px 32px;
    border-radius: 16px;
    background-color: #1DB1CD;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
  }
}

.search_topic {
  margin-top: 28px;
  padding: 0 32px;
}

.topics_wrap {
  padding: 16px 0;
}

.topic_item {
  display: inline-flex;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #E4E8EA;
  border-radius: 16px;
  margin: 0 8px 8px 0;
  
  div {
    padding: 8px;
    font-family: 'roboto';
  }

  button {
    width: 24px;
    border-left: 1px solid #F1F1F1;
    padding: 16px;
    background-image: url('./assets/remove-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.border_wrap {
  padding: 0 32px;
  display: flex;
  align-items: center;

  span {
    padding: 16px 16px 16px 0;
    color: #1DB1CD;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    font-family: 'roboto';
  }

  .border_line {
    background-color: #72D0E3;
    width: 100%;
    height: 1px;
  }
}

.result {
  padding: 0 32px;
  display: flex;

  h4 {
    margin-bottom: 16px;
  }
}

.result_graph {
  width: 45%;
}

.result_row {
  display: flex;
}

.row_info {
  margin-left: 180px;
  padding-bottom: 32px;

  h3 {
    font-family: 'roboto';
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
  }
}

.graph_text {
  padding: 8px 0;
  font-family: 'roboto';
}

.graph_label {
  border-radius: 8px;
  width: 120px;
  height: 24px;
}

.bg_blue {
  background-color: #15B4F1;
}

.bg_green {
  background-color: #B8E986;
}

.graph_wrapper {
  margin-left: 32px;
  position: relative;
}

.graph_cards {
  width: 240px;
  position: absolute;
  left: -32px;
}

.profile_circle {
  position: absolute;
  top: 39px;
  left: 94px;
  overflow: hidden;
  width: 52px;
  height: 52px;
  border-radius: 26px;

  img {
    width: 52px;
    height: 52px;
  }
}

.result_list {
  width: 55%;
}

.list_item {
  padding: 0 0 16px 32px;
  .label {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #269DFA;
    color: #FFFFFF;
  }

  .soft_item {
    padding: 8px 0;
    color: rgba(34,34,34,0.6);
  }
}

.global_trend {
  position: relative;
  display: flex;
}

.global_item {
  flex: 1 1 0;
  padding: 0 24px;

  &:first-child {
    padding-left: 32px;
  }

  &:last-child {
    padding-right: 32px;
  }

  ul {
    list-style: decimal;
    padding-left: 20px;
    padding-top: 16px;
    text-align: left;

    li {
      padding: 8px 0;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.see_all {
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(255,255,255,0.9), rgba(255,255,255,0.1));
  padding-top: 90px;
  color: #72D0E3;
  font-family: 'roboto';
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.blocking {
  background-color: #FFFFFF;
  padding: 50px 0;
}