.header {
  display: flex;
  align-items: center;
  padding: 16px 48px;

  ul {
    li {
      display: inline-flex;
      padding: 16px;
      flex-direction: row-reverse;
      
      a {
        color: rgba(34,34,34,0.6);
        font-size: 14px;
        font-family: 'roboto';
        font-weight: 800;
        line-height: 16px;
      }
    }
  }

  a {
    cursor: pointer;
  }
}

.logo {
  flex: 2 0 0;
}

.main_menu {
  flex: 7 0 0;
  text-align: right;
}

.login {
  flex: 1 0 0;
  text-align: right;
}